<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.udb.desafio2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_c"
        android:label="Valdivieso Salon"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Desafio2">
        <activity android:name=".detalle"></activity>
        <activity android:name=".principal" />
        <activity android:name=".login" />
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>